*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f3f56;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 800px;
  height: 700px;
  position: relative;
  border: 2px solid #2f3f56;
  box-shadow: -3px 8px 26px 4px rgba(0,0,0,0.75);
}

.up {
  position: absolute;
  top: 25%;
  left: 18%;
  width: 500px;
  height: 10px;
  background-color: #04feff;
  border-radius: 50px;
}

.line {
  position: relative;
  width: 6px;
  height: 280px;
  background-color: #4a9bb0;
  left: 12%;
  top: 5px;
  z-index: -1;
}

.line:not(:last-child) {
  margin-right: 90px;
}

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);
  top: 100%;
  right: 800%;
}

.line:nth-child(1) {
  animation: item 1s infinite alternate ease-out;
  transform-origin: top;
}

@keyframes item {
  0%{
    transform: rotate(0);
  }
  50% {
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(20deg);
  }
}

.line:nth-child(5) {
  animation: item-s 1s infinite alternate ease-out;
  animation-delay: 1s;
  transform-origin: top;
}

@keyframes item-s {
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(-20deg);
  }
}



.up-list {
  list-style-type: none;
}


